body {


  width: 90%;

}
.rental-heading {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: none;
}
.rental-now {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: none;
}

table{
    width: 100%;
    border-collapse: collapse;
  font-size: 20px;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 6px;
}
table th {
  background-color: #F2F2F2;
}
.center {
  text-align: center;
}

h1 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

h1:before, h1:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

h1:before {
  left:0;
}
h1:after {
  right: 0;
}


ul {
  list-style-type: none;

}


li {
  margin-bottom: 5px;
}